
<div class="container" id="nav-container" style="max-width:600px;">
	<nav class="navbar">
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to "별 헤는 밤", :controller => :posts , :action => :show %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "나의 글" , :controller => :posts , :action => :my_posts , :id => current_user.id %></li>
			<li><%= link_to "글 쓰기" , :controller => :posts , :action => :new %></li>
		</ul>
	</nav>
</div>

<div class="container">
	<div class="row">
		<% @posts.each do |post| %>
			<div class="post" style = " margin: 20px 50px 10px 5px; border: 2px">
				<%= image_tag post.background.url if post.background? %>
				<%= post.title %>
				<%= post.content %>
				<%= post.user.email %>
				<div class="comment">
					<label>댓글:</label>
					<% post.comments.each do |comment| %>
						<%= comment.user.email %>
						<%= comment.content %><br>
					<% end %>
					<div class="write-comment">
						<form action="/posts/comment/<%= current_user.id %>" type="POST">
							<input type="hidden" value=<%=post.id%> name="post_id" >
							<input type ="text" value="댓글을 입력해 주세요" name="comment">
							<input type="submit" value="입력"><br>
						</form>
					</div>
					<div class="likes">
					</div>
				</div>	
			</div>
		<% end %>
	</div>
</div>
