<% @current_user.posts.each do |post| %>
	<div class="post">
		<%= image_tag post.background.url if post.background? %>
		<%= post.title %>
		<%= post.content %>
		<%= post.user.email %>
		<label>댓글:</label>
		<% post.comments.each do |comment| %>
			<%= comment.user.email %>
			<%= comment.content %><br>
		<% end %>
	</div>
<% end %>