<div class="container" style="max-width:600px;">
  <h3>새로운 포스트</h3>
  <%= simple_form_for @post , :url => '/posts/create', :method => 'POST' , html: {multipart: true} do |f| %>
    <%= f.input :title %>
    <%= f.input :user_id,  input_html: { type: "hidden", value: current_user.id } %><p><%=current_user.email%></p>
    <%= f.input :content, as: :pagedown, input_html: { preview: true, rows: 15 } %>
    <%= f.input :num_comment, input_html: { type: "hidden", value:0 } %>
    <%= f.input :image_file , as: :file %> 
    <%= f.button :submit %>
  <% end %>
</div>