<%= link_to "나의 글" , :controller => :posts , :action => :my_posts %>
<%= link_to "글 쓰기" , :controller => :posts , :action => :new %>


<% @posts.each do |post| %>
	<div class = "post">
		<div class="content">
			<%= post.title %>
			<%= post.content %>
			<%= post.user.email %>
		</div>
		<div>
		댓글:
			<% post.comments.each do |comment| %>
				<%= comment.user.email %>

				<%= comment.content %><br>
			<% end %>
			<div class="write-comment">
				<form action="/posts/comment/<%= current_user.id %>" type="POST">
					<input type="hidden" value=<%=post.id%> name="post_id" >
					<input type ="text" placeholder="댓글을 입력해 주세요" name="comment">
					<input type="submit" value="입력"><br>
				</form>
			</div>
			<div class="likes">
				<p><%= post.likes %> 명이 이 글을 좋아합니다.</p>
				<form action="/posts/like/<%= current_user.id %>" type="POST">
					<input type="hidden" value=<%=post.id%> name="post_id" >
					<input type="submit" value="좋아요!">
				</form>
				<% unless post.who_like.nil? %>
					who likes : <% post.who_like.each do |liker| %>
					<%= liker %>, 
					<% end %>
				<% end %>

			</div>
		</div>
	</div>
<% end %>