<%= link_to "나의 글" , :controller => :posts , :action => :my_posts , :id => current_user.id %>
<%= link_to "글 쓰기" , :controller => :posts , :action => :new %>

<div class="container">
	<div class="row">
		<% @posts.each do |post| %>
			<div class="col-md-4">
				<div class="post">
					<%= post.title %>
					<%= post.content %>
					<%= post.user.email %>
				</div>
					<div>
					댓글:
						<% post.comments.each do |comment| %>
							<%= comment.user.email %>
							<%= comment.content %><br>
						<% end %>
					<div class="write-comment">
						<form action="/posts/comment/<%= current_user.id %>" type="POST">
							<input type="hidden" value=<%=post.id%> name="post_id" >
							<input type ="text" value="댓글을 입력해 주세요" name="comment">
							<input type="submit" value="입력"><br>
						</form>
					</div>
					<div class="likes">
					</div>
				</div>
			</div>	
		<% end %>
	</div>
</div>
