<%= link_to "나의 글" , :controller => :posts , :action => :my_posts , :id => current_user.id %>
<%= link_to "글 쓰기" , :controller => :posts , :action => :new %>


<% @posts.each do |post| %>
	<div class="post">
		<%= post.title %>
		<%= post.content %>
		<%= post.user.email %>
	</div>
<% end %>